@import url('./ct.css');
@import url('./editor.css');
@import url('./menu.css');

.window {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}

p {
  margin: 0;
}
